<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des articles</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="img/logo.svg" type="image/svg" />
  </head>
  <body>
    <h1>Liste des articles</h1>
    <nav>
      <a href="/add" class="button">
        <button>Ajouter</button>
      </a>
      <button id="suppress-btn" hidden onclick="remove()">Supprimer</button>
    </nav>
    <table>
      <thead>
        <th>Nom</th>
        <th>Prix</th>
        <th>Quantité</th>
      </thead>
      <tbody>
        <% articles.forEach((article) => { %>
        <tr
          ondblclick="getDetails('<%= article.id %>')"
          onclick="toggle('<%= article.id %>')"
          id="<%= article.id %>"
        >
          <td><%= article.name %></td>
          <td><%= currency(article.price) %> €</td>
          <td><%= article.qty %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <script src="main.js"></script>
  </body>
</html>
